#cpp_logo {
	width: 150px;
	height: 150px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

#Paragraph_projects{
	text-align:justify; 
	padding-left:70px;
	padding-right:70px;
}

#project_title{
	text-align:center;
	top:10px
	font-family: "Comic Sans MS";
	
}

#CPP_Sandbox{
	margin:0;
	height: auto;

}

#Life{
	margin:0;
	height: auto;
}

#OriginalBoardGame{
	margin:0;
	height: auto;
}

#CollegeCrusaders{
	margin:0;
	height: auto;
	
}

#project_hr{
	display: block;
    background-color:black;
    margin-left:100px;
	margin-right:100px;
}

.speech-bubble {
	margin-top: -15px;
	border-style:solid;
    background: #efefef;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 300px;
    margin-left: auto;
	margin-right: auto;

    position: relative;
}



#life_gif{
	width: 400px;
	height: 500px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

#CC_image{
	width: 400px;
	height: 400px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

@media screen and (max-width: 890px){
	.speech-bubble{
		margin-left: auto;
		margin-right: auto;
	}
	
}

#originalGame_picture{
	width: 400px;
	height: 500px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}


