body{
	background-color: #7a9ac1;

}

#Headertext {
	text-align:center;
	color:white;
	
}

.sub{
	color:white;
	font-family:impact;
	letter-spacing: 1px;
	text-shadow: 3px 3px black;
	font-size:30pt;
}
.active li{
	background-color: gray;
	color: white;
}


#Container{
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	width:1000px;
	height:auto;
	background-color: #FFF;
}

#Header{
	width:auto;
	height: 130px;
	background-color: #1363c4;
	padding-top:20px;
	
	
}

#MainBody{
	margin:0;
	height: auto;
	background-color: #7aa7ef;
	
}

#Paragraph_text {
	text-align:justify;
	text-indent:50px; 
	padding-left:40px;
	padding-right:40px;
}
.right{float:right;	}
.left{float:left;}

	